In [1]:
# Import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [2]:
#Import votes file
votes = pd.read_table('2020GEN/2020vote.txt', sep="\t", header=None)

In [3]:
votes = votes.sort_values(by=[6], ascending=True)

In [4]:
votes = votes.rename(columns={7:'city_town' , 8: 'ward',6:'county', 11:'votes', 9:'precinct', 2:'office', 10:'precinct label', 5:'candidate'})

In [5]:
votes.head()

,0,1,office,3,4,candidate,county,city_town,ward,precinct,precinct label,votes,12
0,2020,GEN,0,0,0,0,1,2,0,1,NaN,822,NaN
247080,2020,GEN,11,0,0,519812,1,52,0,1,NaN,4,NaN
247081,2020,GEN,11,0,0,519812,1,9999,0,9999,NaN,1,NaN
139243,2020,GEN,9,0,0,519839,1,2,0,1,NaN,518,NaN
139244,2020,GEN,9,0,0,519839,1,4,0,1,NaN,454,NaN

In [6]:
votes.shape

(369676, 13)

In [7]:
votes['precinct label'].value_counts()

AVCB    10357
A        2175
B         975
C         150
N          73
S          73
W          73
Name: precinct label, dtype: int64

In [8]:
votes['county'].isna().sum()

0

In [9]:
#Grabbing only votes from presidential election; otherwise we are stacking ballots on top of each other
pres_votes = votes.loc[votes['office'] == 1]

In [10]:
pres_votes['precinct label'].value_counts()

AVCB    1474
A        319
B        143
C         22
N         11
S         11
W         11
Name: precinct label, dtype: int64

In [11]:
pres_votes.shape

(54153, 13)

In [12]:
genesee = pres_votes.loc[pres_votes['county'] == 25].sort_values(by='precinct',ascending=True)

In [13]:
genesee = genesee.sort_values(by=['votes'], ascending=False)

In [14]:
genesee['candidate'].value_counts()

-1417    216
-1415    216
-1413    216
-1403    216
-1401    216
-1391    216
-1385    216
-1373    216
-1416    216
-1414    216
-1398    216
Name: candidate, dtype: int64

In [15]:
# Attach county names to votes table
counties =pd.read_table('2018GEN/county.txt', sep="\t", header=None)
#print_full(counties)
counties.head()

   0        1   2
0  1   ALCONA NaN
1  2    ALGER NaN
2  3  ALLEGAN NaN
3  4   ALPENA NaN
4  5   ANTRIM NaN

In [16]:
#Turn dataframe above into dictionary 
counties = counties[[0,1]].set_index(0)

In [17]:
counties_dict = counties.to_dict()

In [18]:
counties_dict

{1: {1: 'ALCONA',
  2: 'ALGER',
  3: 'ALLEGAN',
  4: 'ALPENA',
  5: 'ANTRIM',
  6: 'ARENAC',
  7: 'BARAGA',
  8: 'BARRY',
  9: 'BAY',
  10: 'BENZIE',
  11: 'BERRIEN',
  12: 'BRANCH',
  13: 'CALHOUN',
  14: 'CASS',
  15: 'CHARLEVOIX',
  16: 'CHEBOYGAN',
  17: 'CHIPPEWA',
  18: 'CLARE',
  19: 'CLINTON',
  20: 'CRAWFORD',
  21: 'DELTA',
  22: 'DICKINSON',
  23: 'EATON',
  24: 'EMMET',
  25: 'GENESEE',
  26: 'GLADWIN',
  27: 'GOGEBIC',
  28: 'GD. TRAVERSE',
  29: 'GRATIOT',
  30: 'HILLSDALE',
  31: 'HOUGHTON',
  32: 'HURON',
  33: 'INGHAM',
  34: 'IONIA',
  35: 'IOSCO',
  36: 'IRON',
  37: 'ISABELLA',
  38: 'JACKSON',
  39: 'KALAMAZOO',
  40: 'KALKASKA',
  41: 'KENT',
  42: 'KEWEENAW',
  43: 'LAKE',
  44: 'LAPEER',
  45: 'LEELANAU',
  46: 'LENAWEE',
  47: 'LIVINGSTON',
  48: 'LUCE',
  49: 'MACKINAC',
  50: 'MACOMB',
  51: 'MANISTEE',
  52: 'MARQUETTE',
  53: 'MASON',
  54: 'MECOSTA',
  55: 'MENOMINEE',
  56: 'MIDLAND',
  57: 'MISSAUKEE',
  58: 'MONROE',
  59: 'MONTCALM',
  60: 'MONTMORENCY',
  61: 'MUSKEGON',
  62: 'NEWAYGO',
  63: 'OAKLAND',
  64: 'OCEANA',
  65: 'OGEMAW',
  66: 'ONTONAGON',
  67: 'OSCEOLA',
  68: 'OSCODA',
  69: 'OTSEGO',
  70: 'OTTAWA',
  71: 'PRESQUE ISLE',
  72: 'ROSCOMMON',
  73: 'SAGINAW',
  74: 'ST. CLAIR',
  75: 'ST. JOSEPH',
  76: 'SANILAC',
  77: 'SCHOOLCRAFT',
  78: 'SHIAWASSEE',
  79: 'TUSCOLA',
  80: 'VAN BUREN',
  81: 'WASHTENAW',
  82: 'WAYNE',
  83: 'WEXFORD'}}

In [19]:
#Strip outermost dictionary from above 
def get_val(dct,key):
    for k, v in dct.items():
        if key in dct.keys():
            print(dct[key])
        else :
            for d in dct.values():
                get_val(d, key)

get_val(counties_dict,1)

{1: 'ALCONA', 2: 'ALGER', 3: 'ALLEGAN', 4: 'ALPENA', 5: 'ANTRIM', 6: 'ARENAC', 7: 'BARAGA', 8: 'BARRY', 9: 'BAY', 10: 'BENZIE', 11: 'BERRIEN', 12: 'BRANCH', 13: 'CALHOUN', 14: 'CASS', 15: 'CHARLEVOIX', 16: 'CHEBOYGAN', 17: 'CHIPPEWA', 18: 'CLARE', 19: 'CLINTON', 20: 'CRAWFORD', 21: 'DELTA', 22: 'DICKINSON', 23: 'EATON', 24: 'EMMET', 25: 'GENESEE', 26: 'GLADWIN', 27: 'GOGEBIC', 28: 'GD. TRAVERSE', 29: 'GRATIOT', 30: 'HILLSDALE', 31: 'HOUGHTON', 32: 'HURON', 33: 'INGHAM', 34: 'IONIA', 35: 'IOSCO', 36: 'IRON', 37: 'ISABELLA', 38: 'JACKSON', 39: 'KALAMAZOO', 40: 'KALKASKA', 41: 'KENT', 42: 'KEWEENAW', 43: 'LAKE', 44: 'LAPEER', 45: 'LEELANAU', 46: 'LENAWEE', 47: 'LIVINGSTON', 48: 'LUCE', 49: 'MACKINAC', 50: 'MACOMB', 51: 'MANISTEE', 52: 'MARQUETTE', 53: 'MASON', 54: 'MECOSTA', 55: 'MENOMINEE', 56: 'MIDLAND', 57: 'MISSAUKEE', 58: 'MONROE', 59: 'MONTCALM', 60: 'MONTMORENCY', 61: 'MUSKEGON', 62: 'NEWAYGO', 63: 'OAKLAND', 64: 'OCEANA', 65: 'OGEMAW', 66: 'ONTONAGON', 67: 'OSCEOLA', 68: 'OSCODA', 69: 'OTSEGO', 70: 'OTTAWA', 71: 'PRESQUE ISLE', 72: 'ROSCOMMON', 73: 'SAGINAW', 74: 'ST. CLAIR', 75: 'ST. JOSEPH', 76: 'SANILAC', 77: 'SCHOOLCRAFT', 78: 'SHIAWASSEE', 79: 'TUSCOLA', 80: 'VAN BUREN', 81: 'WASHTENAW', 82: 'WAYNE', 83: 'WEXFORD'}

In [20]:
counties_dict2 = {1: 'ALCONA', 2: 'ALGER', 3: 'ALLEGAN', 4: 'ALPENA', 5: 'ANTRIM', 6: 'ARENAC', 7: 'BARAGA', 8: 'BARRY', 9: 'BAY', 10: 'BENZIE', 11: 'BERRIEN', 12: 'BRANCH', 13: 'CALHOUN', 14: 'CASS', 15: 'CHARLEVOIX', 16: 'CHEBOYGAN', 17: 'CHIPPEWA', 18: 'CLARE', 19: 'CLINTON', 20: 'CRAWFORD', 21: 'DELTA', 22: 'DICKINSON', 23: 'EATON', 24: 'EMMET', 25: 'GENESEE', 26: 'GLADWIN', 27: 'GOGEBIC', 28: 'GD. TRAVERSE', 29: 'GRATIOT', 30: 'HILLSDALE', 31: 'HOUGHTON', 32: 'HURON', 33: 'INGHAM', 34: 'IONIA', 35: 'IOSCO', 36: 'IRON', 37: 'ISABELLA', 38: 'JACKSON', 39: 'KALAMAZOO', 40: 'KALKASKA', 41: 'KENT', 42: 'KEWEENAW', 43: 'LAKE', 44: 'LAPEER', 45: 'LEELANAU', 46: 'LENAWEE', 47: 'LIVINGSTON', 48: 'LUCE', 49: 'MACKINAC', 50: 'MACOMB', 51: 'MANISTEE', 52: 'MARQUETTE', 53: 'MASON', 54: 'MECOSTA', 55: 'MENOMINEE', 56: 'MIDLAND', 57: 'MISSAUKEE', 58: 'MONROE', 59: 'MONTCALM', 60: 'MONTMORENCY', 61: 'MUSKEGON', 62: 'NEWAYGO', 63: 'OAKLAND', 64: 'OCEANA', 65: 'OGEMAW', 66: 'ONTONAGON', 67: 'OSCEOLA', 68: 'OSCODA', 69: 'OTSEGO', 70: 'OTTAWA', 71: 'PRESQUE ISLE', 72: 'ROSCOMMON', 73: 'SAGINAW', 74: 'ST. CLAIR', 75: 'ST. JOSEPH', 76: 'SANILAC', 77: 'SCHOOLCRAFT', 78: 'SHIAWASSEE', 79: 'TUSCOLA', 80: 'VAN BUREN', 81: 'WASHTENAW', 82: 'WAYNE', 83: 'WEXFORD'}

In [21]:
pres_votes['county_label'] = 0

<ipython-input-21-7c07b8411002>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pres_votes['county_label'] = 0

In [22]:
pres_votes.head()

,0,1,office,3,4,candidate,county,city_town,ward,precinct,precinct label,votes,12,county_label
14753,2020,GEN,1,0,0,-1415,1,22,0,1,NaN,0,NaN,0
14752,2020,GEN,1,0,0,-1415,1,20,0,1,NaN,0,NaN,0
14751,2020,GEN,1,0,0,-1415,1,18,0,1,NaN,0,NaN,0
14750,2020,GEN,1,0,0,-1415,1,16,0,1,NaN,0,NaN,0
14754,2020,GEN,1,0,0,-1415,1,52,0,1,NaN,0,NaN,0

In [23]:
#use map to attach county names to each county's data; so we can aggregate votes by county 
pres_votes['county_label'] = pres_votes['county'].map(counties_dict2)

<ipython-input-23-3768817d1519>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pres_votes['county_label'] = pres_votes['county'].map(counties_dict2)

In [24]:
#repeat same process to attach city/township names to dataframe 
#create new column that joins county and city codes together, so we can join with city/township names 
cols = ['county' , 'city_town']
pres_votes['county_city'] = pres_votes[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

<ipython-input-24-3800f12975a6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pres_votes['county_city'] = pres_votes[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [25]:
pres_votes.head()

,0,1,office,3,4,candidate,county,city_town,ward,precinct,precinct label,votes,12,county_label,county_city
14753,2020,GEN,1,0,0,-1415,1,22,0,1,NaN,0,NaN,ALCONA,1_22
14752,2020,GEN,1,0,0,-1415,1,20,0,1,NaN,0,NaN,ALCONA,1_20
14751,2020,GEN,1,0,0,-1415,1,18,0,1,NaN,0,NaN,ALCONA,1_18
14750,2020,GEN,1,0,0,-1415,1,16,0,1,NaN,0,NaN,ALCONA,1_16
14754,2020,GEN,1,0,0,-1415,1,52,0,1,NaN,0,NaN,ALCONA,1_52

In [26]:
#read in cities file and repeat process so we have something to join on 
cities = pd.read_table('2020GEN/2020city.txt', sep="\t", header=None)

In [27]:
cities.head()

      0    1  2   3                   4   5
0  2020  GEN  1   2     ALCONA TOWNSHIP NaN
1  2020  GEN  1   4  CALEDONIA TOWNSHIP NaN
2  2020  GEN  1   6     CURTIS TOWNSHIP NaN
3  2020  GEN  1   8  GREENBUSH TOWNSHIP NaN
4  2020  GEN  1  10     GUSTIN TOWNSHIP NaN

In [28]:
cols = [2, 3]
cities['county_city'] = cities[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [29]:
pres_votes = pres_votes.merge(cities, how='inner', on='county_city')

In [30]:
pres_votes.shape

(54153, 21)

In [31]:
pres_votes.head()

,0_x,1_x,office,3_x,4_x,candidate,county,city_town,ward,precinct,...,votes,12,county_label,county_city,0_y,1_y,2,3_y,4_y,5
0,2020,GEN,1,0,0,-1415,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
1,2020,GEN,1,0,0,-1414,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
2,2020,GEN,1,0,0,-1373,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
3,2020,GEN,1,0,0,-1403,1,22,0,1,...,216,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
4,2020,GEN,1,0,0,-1391,1,22,0,1,...,1,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN

In [32]:
#create new column combining county name, precinct, and precinct label 
#so that we can aggregate votes by precinct 
print(pres_votes['precinct'].isna().sum())
print(pres_votes['precinct label'].isna().sum())
print(pres_votes['county_label'].isna().sum())

0
52162
0

In [33]:
#lots of nulls in precinct label; have to fill them with 0s for now 
pres_votes['precinct label'] = votes['precinct label'].fillna(0)

In [34]:
print(pres_votes['precinct label'].isna().sum())

0

In [35]:
pres_votes[['county','precinct' , 'ward']] = pres_votes[['county','precinct','ward']].astype(str)

In [36]:
pres_votes.dtypes

0_x                 int64
1_x                object
office              int64
3_x                 int64
4_x                 int64
candidate           int64
county             object
city_town           int64
ward               object
precinct           object
precinct label     object
votes               int64
12                float64
county_label       object
county_city        object
0_y                 int64
1_y                object
2                   int64
3_y                 int64
4_y                object
5                 float64
dtype: object

In [37]:
#create new column combining county name, preinct, precinct label
#if applicable 
cols = ['county_label' , '4_y' , 'ward', 'precinct' , 'precinct label']
pres_votes['precinct_code'] = pres_votes[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [38]:
pres_votes = pres_votes.set_index('precinct_code')

In [39]:
pres_votes.head()

,0_x,1_x,office,3_x,4_x,candidate,county,city_town,ward,precinct,...,votes,12,county_label,county_city,0_y,1_y,2,3_y,4_y,5
precinct_code,,,,,,,,,,,,,,,,,,,,,
ALCONA_MITCHELL TOWNSHIP_0_1_0,2020,GEN,1,0,0,-1415,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
ALCONA_MITCHELL TOWNSHIP_0_1_0,2020,GEN,1,0,0,-1414,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
ALCONA_MITCHELL TOWNSHIP_0_1_0,2020,GEN,1,0,0,-1373,1,22,0,1,...,0,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
ALCONA_MITCHELL TOWNSHIP_0_1_0,2020,GEN,1,0,0,-1403,1,22,0,1,...,216,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN
ALCONA_MITCHELL TOWNSHIP_0_1_0,2020,GEN,1,0,0,-1391,1,22,0,1,...,1,NaN,ALCONA,1_22,2020,GEN,1,22,MITCHELL TOWNSHIP,NaN

In [40]:
final = pres_votes[['county_label','candidate','votes']]

In [41]:
final.shape

(54153, 3)

In [53]:
pres_votes.loc[pres_votes['ward'] == '1']

,0_x,1_x,office,3_x,4_x,candidate,county,city_town,ward,precinct,...,votes,12,county_label,county_city,0_y,1_y,2,3_y,4_y,5
precinct_code,,,,,,,,,,,,,,,,,,,,,
ARENAC_OMER CITY_1_1_0,2020,GEN,1,0,0,-1391,6,54,1,1,...,0,NaN,ARENAC,6_54,2020,GEN,6,54,OMER CITY,NaN
ARENAC_OMER CITY_1_1_0,2020,GEN,1,0,0,-1416,6,54,1,1,...,0,NaN,ARENAC,6_54,2020,GEN,6,54,OMER CITY,NaN
ARENAC_OMER CITY_1_1_0,2020,GEN,1,0,0,-1373,6,54,1,1,...,1,NaN,ARENAC,6_54,2020,GEN,6,54,OMER CITY,NaN
ARENAC_OMER CITY_1_1_0,2020,GEN,1,0,0,-1401,6,54,1,1,...,53,NaN,ARENAC,6_54,2020,GEN,6,54,OMER CITY,NaN
ARENAC_OMER CITY_1_1_0,2020,GEN,1,0,0,-1417,6,54,1,1,...,0,NaN,ARENAC,6_54,2020,GEN,6,54,OMER CITY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WAYNE_WAYNE CITY_1_1_0,2020,GEN,1,0,0,-1391,82,95,1,1,...,1,NaN,WAYNE,82_95,2020,GEN,82,95,WAYNE CITY,NaN
WAYNE_WAYNE CITY_1_1_0,2020,GEN,1,0,0,-1403,82,95,1,1,...,467,NaN,WAYNE,82_95,2020,GEN,82,95,WAYNE CITY,NaN
WAYNE_WAYNE CITY_1_1_0,2020,GEN,1,0,0,-1401,82,95,1,1,...,633,NaN,WAYNE,82_95,2020,GEN,82,95,WAYNE CITY,NaN
WAYNE_WAYNE CITY_1_1_0,2020,GEN,1,0,0,-1385,82,95,1,1,...,9,NaN,WAYNE,82_95,2020,GEN,82,95,WAYNE CITY,NaN
WAYNE_WAYNE CITY_1_1_0,2020,GEN,1,0,0,-1373,82,95,1,1,...,4,NaN,WAYNE,82_95,2020,GEN,82,95,WAYNE CITY,NaN

In [42]:
alcona = final.loc[final['county_label'] == 'ALCONA']

In [43]:
alcona_sums = alcona.groupby(level='precinct_code').sum().sort_values(by='votes',ascending=False)
alcona_sums

                                           candidate  votes
precinct_code
ALCONA_GREENBUSH TOWNSHIP_0_1_0               -15426    873
ALCONA_HARRISVILLE TOWNSHIP_0_1_0             -15426    832
ALCONA_ALCONA TOWNSHIP_0_1_0                  -15426    819
ALCONA_CALEDONIA TOWNSHIP_0_1_0               -15426    757
ALCONA_CURTIS TOWNSHIP_0_1_0                  -15426    728
ALCONA_HAWES TOWNSHIP_0_1_0                   -15426    715
ALCONA_MIKADO TOWNSHIP_0_1_0                  -15426    549
ALCONA_HAYNES TOWNSHIP_0_1_0                  -15426    538
ALCONA_GUSTIN TOWNSHIP_0_1_0                  -15426    438
ALCONA_MITCHELL TOWNSHIP_0_1_0                -15426    279
ALCONA_HARRISVILLE CITY_0_1_0                 -15426    268
ALCONA_MILLEN TOWNSHIP_0_1_0                  -15426    267
ALCONA_{Statistical Adjustments}_0_9999_0     -15426      1

In [44]:
wayne = final.loc[final['county_label'] == 'WAYNE']

In [45]:
wayne_sums = wayne.groupby(level='precinct_code').sum().sort_values(by='votes',ascending=False)

In [47]:
wayne_sums.shape

(1451, 2)

In [46]:
wayne_sums.to_excel('wayne_precincts.xlsx')