In [13]:
# Import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [59]:
#Import votes file
votes = pd.read_table('2020GEN/2020vote.txt', sep="\t", header=None)

In [60]:
votes = votes.sort_values(by=[6], ascending=True)

In [61]:
votes = votes.rename(columns={6:'county', 11:'votes', 9:'precinct', 2:'office', 10:'precinct label', 5:'candidate'})

In [62]:
votes.head()

,0,1,office,3,4,5,county,7,8,precinct,precinct label,votes,12
0,2020,GEN,0,0,0,0,1,2,0,1,NaN,822,NaN
247080,2020,GEN,11,0,0,519812,1,52,0,1,NaN,4,NaN
247081,2020,GEN,11,0,0,519812,1,9999,0,9999,NaN,1,NaN
139243,2020,GEN,9,0,0,519839,1,2,0,1,NaN,518,NaN
139244,2020,GEN,9,0,0,519839,1,4,0,1,NaN,454,NaN

In [63]:
#Grabbing only votes from presidential election 
pres_votes = votes.loc[votes['office'] == 1]

In [64]:
pres_votes['precinct label'].value_counts()

AVCB    1474
A        319
B        143
C         22
S         11
N         11
W         11
Name: precinct label, dtype: int64

In [65]:
genesee = pres_votes.loc[pres_votes['county'] == 25].sort_values(by='precinct',ascending=True)

In [67]:
genesee = genesee.sort_values(by=['votes'], ascending=False)

In [71]:
genesee[5].value_counts()
#Tomorrow - attached candidate to county and precinct code to make unique codes for each precinct

-1417    216
-1415    216
-1413    216
-1403    216
-1401    216
-1391    216
-1385    216
-1373    216
-1416    216
-1414    216
-1398    216
Name: 5, dtype: int64

In [42]:
#Import county names 
counties =pd.read_table('2018GEN/county.txt', sep="\t", header=None)
print_full(counties)

     0             1   2
0    1        ALCONA NaN
1    2         ALGER NaN
2    3       ALLEGAN NaN
3    4        ALPENA NaN
4    5        ANTRIM NaN
5    6        ARENAC NaN
6    7        BARAGA NaN
7    8         BARRY NaN
8    9           BAY NaN
9   10        BENZIE NaN
10  11       BERRIEN NaN
11  12        BRANCH NaN
12  13       CALHOUN NaN
13  14          CASS NaN
14  15    CHARLEVOIX NaN
15  16     CHEBOYGAN NaN
16  17      CHIPPEWA NaN
17  18         CLARE NaN
18  19       CLINTON NaN
19  20      CRAWFORD NaN
20  21         DELTA NaN
21  22     DICKINSON NaN
22  23         EATON NaN
23  24         EMMET NaN
24  25       GENESEE NaN
25  26       GLADWIN NaN
26  27       GOGEBIC NaN
27  28  GD. TRAVERSE NaN
28  29       GRATIOT NaN
29  30     HILLSDALE NaN
30  31      HOUGHTON NaN
31  32         HURON NaN
32  33        INGHAM NaN
33  34         IONIA NaN
34  35         IOSCO NaN
35  36          IRON NaN
36  37      ISABELLA NaN
37  38       JACKSON NaN
38  39     KALAMAZOO NaN
39  40      KALKASKA NaN
40  41          KENT NaN
41  42      KEWEENAW NaN
42  43          LAKE NaN
43  44        LAPEER NaN
44  45      LEELANAU NaN
45  46       LENAWEE NaN
46  47    LIVINGSTON NaN
47  48          LUCE NaN
48  49      MACKINAC NaN
49  50        MACOMB NaN
50  51      MANISTEE NaN
51  52     MARQUETTE NaN
52  53         MASON NaN
53  54       MECOSTA NaN
54  55     MENOMINEE NaN
55  56       MIDLAND NaN
56  57     MISSAUKEE NaN
57  58        MONROE NaN
58  59      MONTCALM NaN
59  60   MONTMORENCY NaN
60  61      MUSKEGON NaN
61  62       NEWAYGO NaN
62  63       OAKLAND NaN
63  64        OCEANA NaN
64  65        OGEMAW NaN
65  66     ONTONAGON NaN
66  67       OSCEOLA NaN
67  68        OSCODA NaN
68  69        OTSEGO NaN
69  70        OTTAWA NaN
70  71  PRESQUE ISLE NaN
71  72     ROSCOMMON NaN
72  73       SAGINAW NaN
73  74     ST. CLAIR NaN
74  75    ST. JOSEPH NaN
75  76       SANILAC NaN
76  77   SCHOOLCRAFT NaN
77  78    SHIAWASSEE NaN
78  79       TUSCOLA NaN
79  80     VAN BUREN NaN
80  81     WASHTENAW NaN
81  82         WAYNE NaN
82  83       WEXFORD NaN